extends ./layouts/layout.pug

block title
  title Websockets
block content
  #header
    h1 Chat on websockets
  #content
    div#name
      input(type="text", placeholder="Your name", id="txtUserName")
      input.btn(type="button", value="ok", id="btnSetName")
    ul#chat
    div#message
      textarea#txtMessage(cols="22", rows="2")
      br
      input.btn(type="button", value="send", id="btnSendMessage")
block scripts
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="/js/websockets.js")