.btn
  margin 0
  padding 20px 30px
  border none
  text-transform uppercase
  cursor pointer
  background-color pri-color-dark-2
  font-size 1.2em
  color pri-color-light-2
  text-shadow dark-shadow
  text-decoration none
  
  &:hover
    background-color pri-color-dark-1